<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add New Products</h4>

                    <form class="forms-sample" method="post" action="{% url 'save_product' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                        <label for="exampleSelectCategory">Category</label>
                        <select class="form-control" id="exampleSelectCategory" name="pcate">
                          <option>Select Category</option>
                            {% for i in category %}
                          <option>{{i.Category}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name </label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="prname">
                      </div>
                         <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="pdesc" placeholder="Product Description"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Price</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Price" name="price">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Brand Name</label>
                        <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Brand" name="pbrand">
                      </div>


                      <div class="form-group">
                        <label for="exampleInputImage1">Product Image</label>
                        <input type="file" class="form-control" id="exampleInputImage1" placeholder="Image" name="pimg1">
                      </div>
                         <div class="form-group">
                        <label for="exampleInputImage2">Product Image</label>
                        <input type="file" class="form-control" id="exampleInputImage2" placeholder="Image" name="pimg2">
                      </div>
                         <div class="form-group">
                        <label for="exampleInputImage3">Product Image</label>
                        <input type="file" class="form-control" id="exampleInputImage3" placeholder="Image" name="pimg3">
                      </div>

                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light" type="button">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'warning' %};
      <script>
         swal ('{{i}}','','warning');
      </script>
    {% elif i.tags == 'error' %};
      <script>
         swal ('{{i}}','','warning');
      </script>
    {% elif i.tags == 'info' %};
      <script>
         swal ('{{i}}','','info');
      </script>
    {% else %}
      <script>
        swal ('{{i}}','','success');
      </script>
    {% endif %}
  {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}